body {
  background-color: #fff6d6;
}

h3 {
  font-family: 'Roboto Slab';
}

h2 {
  font-family: 'Abril Fatface';
}

p {
  font-family: 'Roboto Slab';
}

.hidden {
  display: none;
}

.jumbotronModify {
  margin-left: 25px;
  margin-right: 25px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #324f32;
  color: #F2f2f2;
  font-family: 'Abril Fatface';
}

.headline {
  font-size: 400%;
  color: #ffde69;
}

.subheadline {
  font-size: 120%;
  font-family: 'Roboto Slab';
}

.imagesize {
  max-width: 450px;
  height: auto;
  object-fit: cover;
}

.box {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

.verticalspacer {
  height: 25px;
}

.imgtest {
  object-fit: contain;
}